Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
Examples

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [11]:
def updated_list(l,num):
    l.append(num)
    l.pop(0)
    print(l)
    
limit=int(input("enter the limit : "))
l=[]
for i in range (limit):
    e=int(input("enter the elements : "))
    l.append(e)
print(l)
nl=l
num=int(input("enter the number : "))
if len(l)==0:
    print(f"next_in_line({l}, {num}) ➞ No list has been selected")
else :
    updated_list(l,num)

enter the limit : 4
enter the elements : 1
enter the elements : 2
enter the elements : 3
enter the elements : 4
[1, 2, 3, 4]
enter the number : 6
[2, 3, 4, 6]

In [5]:
l=[1,2,3]
l.append(4)
l
l.pop(0)
l

[2, 3, 4]

Question2
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples

get_budgets([{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },

{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },

{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }

]) ➞ 65700

get_budgets([{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },

{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },

{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }

]) ➞ 62600

In [29]:
def budgetsum(l):
    sum=0
    for i in range(len(l)):
        sum+=int(l[i]['budget'])    
    print(f"get_budgets([{l}])  ➞ {sum}")

list_limit= int(input("Enter the no of lists in a dictionary : "))
limit=int(input("Enter the no of key value pair in a dictionary"))
l=[]
for i in range(list_limit):
    d={}  
    for i in range (limit):
        k=input("enter the key : ")
        v=input("enter the value : ")
        d[k]=v
    l.append(d)
#print(l)
budgetsum(l)

Enter the no of lists in a dictionary : 3
Enter the no of key value pair in a dictionary3
enter the key : name
enter the value : John
enter the key : age
enter the value : 21
enter the key : budget
enter the value : 29000
enter the key : name
enter the value : Steve
enter the key : age
enter the value : 32
enter the key : budget
enter the value : 32000
enter the key : name
enter the value : Martin
enter the key : age
enter the value : 16
enter the key : budget
enter the value : 1600
get_budgets([[{'name': 'John', 'age': '21', 'budget': '29000'}, {'name': 'Steve', 'age': '32', 'budget': '32000'}, {'name': 'Martin', 'age': '16', 'budget': '1600'}]])  ➞ 62600

In [30]:
def get_budgets(in_dict):
    sum = 0
    for ele in in_dict:
        sum += ele["budget"]
    print(f'Output ➞ {sum}')
    
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
])

get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
])

Output ➞ 65700
Output ➞ 62600

In [24]:
d=[{'name': 'a', 'budget': '1000'}, {'name': 'b', 'budget': '200'}]
p=[]
for i in range(len(d)):
    p.append(d[i]['budget'])
p

['1000', '200']

In [34]:
# Create dictionary class 
class my_dictionary(dict): 
    # __init__ function 
    def __init__(self): 
        self = dict()   
    # Function to add key:value 
    def add(self, key, value): 
        self[key] = value 
        
# Main Function 
dict_obj = my_dictionary() 
limit = int(input("Enter the no of key value pair in a dictionary"))
c=0
while c < limit :   
    dict_obj.key = input("Enter the key: ") 
    dict_obj.value = input("Enter the value: ") 
    dict_obj.add(dict_obj.key, dict_obj.value) 
    c += 1
print(dict_obj)

Enter the no of key value pair in a dictionary2
Enter the key: a
Enter the value: 1
Enter the key: b
Enter the value: 2
{'a': '1', 'b': '2'}

Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples

alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;

alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;

alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;

alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;

alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [43]:
for i in range(5):
    s=input("enter the string")
    p=""
    #print(sorted(s))
    for i in sorted(s):
        p+=i
    print(f"alphabet_soup({s}) ➞ {p}")

enter the stringhello
alphabet_soup(hello) ➞ ehllo
enter the stringedabit
alphabet_soup(edabit) ➞ abdeit
enter the stringhacker
alphabet_soup(hacker) ➞ acehkr
enter the stringgeek
alphabet_soup(geek) ➞ eegk
enter the stringjavascript
alphabet_soup(javascript) ➞ aacijprstv

In [1]:
s=input("enter the string")
#print(sorted(s))
p=(''.join(sorted(s)))
print(f"alphabet_soup({s}) ➞ {p}")

enter the stringikkiiee
alphabet_soup(ikkiiee) ➞ eeiiikk

Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.

For the example above:

compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples

compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [2]:
def compound_interest(principal,years,roi,cp):
    ci = principal*(1+(roi/cp))**(cp*years)
    print(f'Output ➞ {ci:.2f}')

compound_interest(100, 1, 0.05, 1)
compound_interest(3500, 15, 0.1, 4)
compound_interest(100000, 20, 0.15, 365)

Output ➞ 105.00
Output ➞ 15399.26
Output ➞ 2007316.26

Question5
Write a function that takes a list of elements and returns only the integers.
Examples

return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]

return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]

return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,3]

return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]

In [3]:
def return_only_integer(in_list):
    out_list = []
    for ele in in_list:
        if type(ele) == int:
            out_list.append(ele)
    print(f'{in_list} ➞ {out_list}')
    
return_only_integer([9, 2, "space", "car", "lion", 16])
return_only_integer(["hello", 81, "basketball", 123, "fox"])
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) 
return_only_integer(["String", True, 3.3, 1])

[9, 2, 'space', 'car', 'lion', 16] ➞ [9, 2, 16]
['hello', 81, 'basketball', 123, 'fox'] ➞ [81, 123]
[10, '121', 56, 20, 'car', 3, 'lion'] ➞ [10, 56, 20, 3]
['String', True, 3.3, 1] ➞ [1]